[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
mlflow = "*"
sklearn = "*"
keras = "*"
boto3 = "*"
tensorflow = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.9"
